{% extends 'base.html.twig' %}

{% block title %}
Armes sacrées
{% endblock %}

{% block content %}

<form action="" method="post">
    <div class="form-group">
        <label for="name">{{ nameError is null ? "Name" : nameError }}</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter the name of the weapon" value="{{nameError is null ? null : name}}">
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="damageMin">{{ damageMinError is null ? "Damage Minimum" : damageMinError }}</label>
            <input type="number" class="form-control" name="damageMin" id="damageMin" placeholder="Minimum damage" value="{{damageMinError is null ? null : damageMin}}">
        </div>
        <div class="form-group col">
            <label for="damageMax">{{ damageMaxError is null ? "Damage Maximum" : damageMaxError }}</label>
            <input type="number" class="form-control" name="damageMax" id="damageMax" placeholder="Maximum damage" value="{{damageMaxError is null ? null : damageMax}}">
        </div>
        <div class="form-group col">
            <label for="price">{{ priceError is null ? "Price" : priceError }}</label>
            <input type="number" class="form-control" name="price" id="price" placeholder="Price of the weapon" value="{{priceError is null ? null : price}}">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Create a new weapon</button>
</form>
<h4>{{ send is null ? "": send }}</h4>

<div class="row justify-content-around">
    {% for weapon in weapons %}
    <div class="card mt-2 border border-dark rounded" style="width: auto;">
        <div class="card-body align-content-center">
            <h5 class="card-title">{{ weapon['name'] }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ weapon['price'] }} gold</h6>
            <p class="card-text">Damages: {{weapon['damage_min']}} -{{ weapon['damage_max']}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}